@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

:root {
  font-family: "Croissant One", serif;
  background-color: #bcbcbc;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

canvas#main {
  max-height: 100vmin;
  max-width: 100vmin;
  background-color: white;
}
